*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../imagenes/fondohd.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#contento {
    display:grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    margin: 0 auto;
}

header {
    background-color:black;
    padding: 10px;
    position: fixed;
    top: 2px;
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 15px;
}
header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

header ul li a {
    display: inline-block;
    padding: 15px;
    font-size:1.6em;
    color: rgb(40, 231, 81);
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
}

header ul li img {
        height: 3em;
        display: flex;
        justify-content: flex-start;
    }

h2 {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 150px;
    font-family: 'Oswald', sans-serif;
    color: rgb(40, 231, 81);
}

#track {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.header_track {
    width: 75%; height: 75%;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(40, 231, 81);
}

.track1 {
    margin-right: 20%;
    color: black;
}

h3 {
    background-image: url(https://thumbs.dreamstime.com/z/textura-del-papel-del-grunge-fondo-con-el-espacio-para-el-texto-30982840.jpg);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

h4 {
    margin-top: 9px;
    padding: 3px;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 25px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgba(128, 146, 132, 0.788);
    background-color: grey;
    text-align: center;
}

p a {
    text-decoration: none;
    color: white
}

p{
    margin-top: 25px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: white
}

.header_track2 {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 30px;
}

.header_track2 p a {
    background-color: plum;
    color: black;
    padding: 5px;
}

.piedepagina{
    margin-top: 42px;
    display:flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: absolute;
}
 
.piedepagina img{
    width: 10%;
}

.piedepagina ul li{
    display:inline-flex ;
    list-style-type: none;
    padding:6px;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 37px;
    margin-left: 25px;
}

/*CAMBIO A TABLET */

@media (max-width: 768px) {
.piedepagina {
    position: relative;
}

.piedepagina ul li {
    margin-bottom: 25px;
}

.header_track2 {
    grid-template-columns: 1fr;
}

}

/* CAMBIO A CELULAR */

@media (max-width: 425px) {
body{
    font-size: 1.2em;
}

header {
    position: relative;
}

header ul {
    display: initial;
}

#contento {
    grid-template-columns: 1fr;
    margin-top: 10px;
}

main{
    position: relative;
}

h2 {
    margin-left: 18px;
    margin-top: 25px;
}

#track {
    grid-template-columns: 1fr;
    margin-left: 18px;
}

.header_track {
    width: 200px; height: 200px;
}

.header_track2 {
    grid-template-columns: 1fr;
}

.h3track {
    width: 100%;
}

p {
    font-size: 15px;
}

.piedepagina {
    position: relative;
}

.piedepagina img{
    width: 20%;
}

.piedepagina ul li {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    display: initial;
}

}