body{
    background-color: beige;
}
.titulo-principal{
    background-color: brown;
    

   
    ;

}
.titulo-principal ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black
}
